.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-decoration: none;
}

/* NAV */
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

.nav a:hover {
  color: white;
}

/* ACTIVE LINK */
.active {
  color: white;
  font-weight: 600;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
  border-radius: 2px;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  height: 22px;
  color: #cbd5f5;
  cursor: pointer;
}

.icon:hover {
  color: white;
}

.right {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* ADMIN bouton*/
.admin {
  font-size: 13px;
  color: #cbd5f5;
  text-decoration: none;

  padding: 6px 10px;
  border-radius: 10px;

  border: 1px solid rgba(124, 58, 237, 0.4);
  background: rgba(124, 58, 237, 0.1);

  transition: 0.2s;
}

.admin:hover {
  color: white;
  background: rgba(124, 58, 237, 0.25);
  transform: translateY(-1px);
}