.body {
  margin: 0;
  background: #0b0f1a;
  color: white;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
}


.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #111827;
  z-index: 1000;
  transition: transform 0.3s ease;
}


.sidebarClosed {
  transform: translateX(-100%);
}


.main {
  flex: 1;
  padding: 30px;
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

.mainFull {
  margin-left: 0;
}


.overlay {
  display: none; 
}

